DATABASE_USER=postgres
DATABASE_PASSWORD=
POSTGRES_DB=loomi

# for docker-compose
# DATABASE_URL="postgresql+psycopg2://postgres/loomi?user=postgres&password={password}"

# for local development
DATABASE_URL="postgresql+psycopg2://localhost/loomi?user=postgres&password={password}" 

SECRET_KEY=
ALGORITHM=HS256

OPENAI_API_KEY=
OPEN_AI_MODEL=gpt-4o
OPEN_AI_TEMPERATURE=0

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGCHAIN_PROJECT=

MODEL_NOTICIAS=gpt-4o-mini
TEMPERATURE_NOTICIAS=0

MODEL_DOCUMENTOS=gpt-4.1-nano
TEMPERATURE_DOCUMENTOS=0

MODEL_EDITAIS=gpt-4o-mini
TEMPERATURE_EDITAIS=0

MODEL_SUPERVISOR=gpt-4.1
TEMPERATURE_SUPERVISOR=0
