fastapi
httpx
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-decouple
passlib
python-jose
python-multipart
python-dotenv

langchain
langchain-openai
langchain-core
langchain_community
jq
docx2txt
pypdf
streamlit
langchain_postgres
langchain_core

unstructured
apscheduler

langchain_experimental

langchainhub
langgraph
langchain_anthropic

langgraph_supervisor
